<h2>Ganadores</h2>
<table class="table table-success">
    <thead >
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
            <th scope="col">Identificación</th>
            <th scope="col">Número ganador</th>                </tr>
        </thead>
        <tbody class="">
            <tr *ngFor="let item of ganadores, let i=index">
            <td>{{i+1}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.nombre}}</td>
            <td><span>******</span>{{item.id_user}}</td>
            <td>{{item.numero}}</td>
            </tr>
            
    </tbody>
</table>